<!--suppress ALL -->
<template>
    <div id="app">
        <div class="out-border">
            <div class="title">Target Indicator Demo</div>
            <div class="in-border">
                <div class="inner-border">
                    <div class="input-flex">
                        <label>Reached:</label>
                        <div class="progress">
                            <progress max="15" v-bind:value="bar.value"></progress>
                            <div id="value">
                                <span>${{bar.value}}</span>
                            </div>
                        </div>
                        <div v-bind:class="{ active: isActive }" class="block">
                            <span class="text">Target</span>
                            <div class="line"></div>
                            <div class="line2"></div>
                            <span class="num">$15</span>
                        </div>
                    </div>
                    <div v-bind:class="{ active: isActive }" class="info">
                        <i class="fa" aria-hidden="true"></i>
                        <span>You need $1 more to reach your target</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios'

    export default {
        name: 'app',
        data() {
            return {
                speed: 200,//скорость
                step: 0.5,//шаг
                fCount: this.loadNumber(),//начальное зн-ие
                maxCount: 15,//макс. зн-ие
                width: 140,
                bar: {value: 0, scroll: 0},
                timer: null,
                isActive: false
            }
        },
        mounted: function () {
            var value = document.getElementById('value');
            this.timer = setInterval(() => {
                if (this.bar.value >= this.fCount - this.step) {
                    clearInterval(this.timer);
                    this.loadBar(0.2, 2000, this.maxCount, this.timer, value)
                }
                let NumBar = this.bar.value + this.step;
                this.bar.value = Math.round(NumBar * 10) / 10;
                value.style.left = this.bar.value * (10 - this.step/2) - 10 + 'px';
            }, this.speed);

        },
        methods: {
            loadBar(step, speed, fCount, timer, value) {
                timer = setInterval(() => {
                    let NumBar = this.bar.value + step;
                    this.bar.value = Math.round(NumBar * 10) / 10;
                    value.style.left = this.bar.value * (10 - this.step/2) - 10 + 'px';
                    if (this.bar.value >= fCount) {
                        clearInterval(timer);
                        this.isActive = true;
                    }
                }, speed);
            },
            loadNumber() {
                let url = 'https://alex.devel.softservice.org/testapi/';
                axios.get(url).then(response => this.fCount = response.data.balance_usd).catch(e => {
                    alert(e);
                });
            }
        }
    }
</script>

<style>
    .out-border {
        width: 363px;
        height: 148px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border-radius: 4px;
        background-color: #f2f2f2;
        border: 1px solid #4a4949;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-family: sans-serif;
        font-size: 14px;
    }

    .title {
        background-color: #4a4949;
        color: white;
        padding: 6px;
        padding-left: 10px;
        font-size: 14px;
    }

    .block.active {
        background: #00A910;
    }
    .block {
        position: relative;
        top: -10px;
        width: 45px;
        color: white;
        background: -webkit-gradient(linear, left top, left bottom, from(#aba6a6), to(#6f6e72));
        background: linear-gradient(180deg, #aba6a6, #6f6e72);
        display: grid;
        text-align: center;
        border-radius: 4px;
        padding: 2px;
    }

    .block .num {
        font-size: larger;
    }

    .line {
        height: 1px;
        width: 100%;
        background: linear-gradient(to right, #8e8b8d 0%, #7e7d7f 49%, #8e8b8d 100%);
    }

    .line2 {
        height: 1px;
        width: 100%;
        background: linear-gradient(to right, #979394 0%, #a5a0a0 49%, #979394 100%);
    }

    .active .line {
        background: linear-gradient(to right, #2dcc39 0%, #00a910 49%, #2dcc39 100%);
    }
    .active .line2 {
        background: linear-gradient(to right, #979394 0%, #027b0d 49%, #979394 100%);
    }

    .block .text {
        font-size: smaller;
    }

    #value{
        position: relative;
        left: 0px;
        top: 5px;
        max-width: 13px;
        margin-left: -2px;
    }

    #value span{
        position: relative;
        top: 5px;
        left: -6px;
        font-size: 12px;
        font-weight: 600;
    }

    .in-border {
        background-color: #f2f2f2;
        border: 1px solid #d5d3d3;
        margin: 10px;
        border-radius: inherit;
    }

    .inner-border {
        padding: 19px;
        color: #626262;
        padding-left: 11%;
    }

    .input-flex {
        display: flex;
    }

    .input-flex label {
        font-weight: 600;
        margin-right: 15px;
        font-size: 13px;
    }

    .info.active{
        visibility: hidden;
    }
    .info {
        display: flex;
        font-size: small;
        position: relative;
        top: 10px;
    }

    .info i {
        color: #5f90ad;
        font-size: large;
        margin-right: 5px;
    }

    .info i:before {
        content: url("./assets/images/icon.png");
    }

    .progress progress {
        background-color: #cecece;
    }

    .progress #value:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 6px;
        background: url("./assets/images/arrow.png");
    }

    .progress progress[value]::-webkit-progress-bar {
        background-color: transparent;
    }

    progress[value]::-webkit-progress-value {
        background-color: #0489d1;
        border: 3px solid #cecece;
    }

    progress[value]::-webkit-progress-value::before {
        content: '';
        position: absolute;
        top: 71px;
        width: 20px;
        height: 20px;
        background-color: #9fd124;
    }

    .progress-value {
        color: #333;
        display: block;
        line-height: 21px;
        text-align: center;
    }

    .progress-bg {
        background: #e6e9ed;
        position: relative;
        height: 8px;
        border-radius: 5px;
        overflow: hidden;
    }

    @import "~font-awesome/css/font-awesome.min.css";
</style>